@model Mvc5NoViewBag.Models.ChangePasswordPageViewModel
<h2>@Model.Title.</h2>

@Html.EditorFor(model => model.Form, templateName: null, htmlFieldName: "")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}