@model Mvc5NoViewBag.Models.SetPasswordPageViewModel
<h2>@Model.Title.</h2>
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@Html.EditorFor(model => model.Form, templateName: null, htmlFieldName: "")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}